@page
@model WebApp.Pages.IndexModel
@{
	ViewData["Title"] = "Overview";
}


<section id="showcase">
    <img class="background-image" src="images/showcase-taskmaster.png" />
    <div class="container">
        <div class="content">
            <h1>Task Management Assistant You Gonna Love</h1>
            <p>We offer you a new generation of task management system. Plan, manage & track all your tasks in one flexible tool</p>
            <a class="btn-theme-s" href="#">Get started for free</a>
            <h6>Largest companies use our tool to work efficiently</h6>
            <div class="brands">
                <img src="images/brands/brand_1.png" alt="" />
                <img src="images/brands/brand_2.png" alt="" />
                <img src="images/brands/brand_3.png" alt="" />
                <img src="images/brands/brand_4.png" alt="" />
            </div>
        </div>
    </div>
</section>

<section id="features">
    <div class="container">
        <h1>What Do You Get With Our Tool?</h1>
        <p>Make sure all your tasks are organized so you can set the priorities and focus on important.</p>
        <div class="tool-features">
            <div class="box">
                <img src="images/icons/chat.svg" alt="" />
                <h5>Comments on Tasks</h5>
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="box">
                <img src="images/icons/presentation.svg" alt="" />
                <h5>Tasks Analytics</h5>
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="box">
                <img src="images/icons/add-group.svg" alt="" />
                <h5>Multiple Assignees</h5>
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="box">
                <img src="images/icons/bell.svg" alt="" />
                <h5>Notifications</h5>
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="box">
                <img src="images/icons/tests.svg" alt="" />
                <h5>Sections & Subtasks</h5>
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="box">
                <img src="images/icons/shield.svg" alt="" />
                <h5>Data Security</h5>
                <p>Id mollis consectetur congue egestas egestas suspendisse blanditjusto.</p>
            </div>
        </div>
    </div>
</section>
<section id="dashboard">
    <div class="container">
        <img src="images/dashboard.svg" alt="" />
        <div>
            <h2>Manage Your Work</h2>
            <i class="fa-regular fa-square-check"></i> Powerful project management
            <br>
            <i class="fa-regular fa-square-check"></i> Transparent work management
            <br>
            <i class="fa-regular fa-square-check"></i> Manage work & focus on the most important tasks
            <br>
            <i class="fa-regular fa-square-check"></i> Track your progress with interactive charts
            <br>
            <i class="fa-regular fa-square-check"></i> Easiest way to track time spent on tasks
            <br>
            <a class="btn-theme-s" href="#">Learn more</a>
        </div>
    </div>
</section>
<section id="integration">
    <div class="container">
        <div class="integration-header">
            <h1>Integrate Top Work Tools</h1>
            <p class="text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.</p>
        </div>
        <div class="integration-options">
            <div class="integration-item">
                <img src="images/icons/Google.svg" alt="Icon Description 1">
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
            <div class="integration-item">
                <img src="images/icons/Zoom.svg" alt="Icon Description 2">
                <p>In eget a mauris quis. Tortor dui tempus quis integer est sit natoque placerat dolor.</p>
            </div>
            <div class="integration-item">
                <img src="images/icons/Slack.svg" alt="Icon Description 3">
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="integration-item">
                <img src="images/icons/gmail.svg" alt="Icon Description 4">
                <p>Rutrum interdum tortor, sed at nulla. A cursus bibendum elit purus cras praesent.</p>
            </div>
            <div class="integration-item">
                <img src="images/icons/Trello.svg" alt="Icon Description 5">
                <p>Congue pellentesque amet, viverra curabitur quam diam scelerisque fermentum urna.</p>
            </div>
            <div class="integration-item">
                <img src="images/icons/MailChimp.svg" alt="Icon Description 6">
                <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
            </div>
            <div class="integration-item">
                <img src="images/icons/Dropbox.svg" alt="Icon Description 7">
                <p>Ut in turpis consequat odio diam lectus elementum. Est faucibus blandit platea.</p>
            </div>
            <div class="integration-item">
                <img src="images/icons/Evernote.svg" alt="Icon Description 8">
                <p>Faucibus cursus maecenas lorem cursus nibh. Sociis sit risus id. Sit facilisis dolor arcu.</p>
            </div>

        </div>

    </div>
</section>